{% extends "layout.html" %}
{% block content %}
    <div class="container mt-4">
        <div class="media">
            <div class="media-body">
                <h2 class="mb-4">Movie: {{ movie }}</h2>
            </div>
        </div>
        {% for review in reviews %}
            <article class="media content-section mt-4">
                <div class="media-body">
                    <div class="article-metadata">
                        <p class="mb-1"><strong>{{ review[0] }}</strong></p>
                    </div>
                    <p class="article-content">{{ review.review }}</p>
                </div>
            </article>
        {% endfor %}
    </div>
{% endblock content %}